<div class="experience-container">
  <h1>Experiencia Laboral</h1>
  <div class="job">
    <h2>Ingeniero de Software</h2>
    <h3>CROMABOX</h3>
    <p class="duration">2020-2022</p>
    <p>
      Desarrollador de páginas web, apps y aplicaciones personalizadas.
      Tecnologías utilizadas: html, css, Node js, React js, git, Expres js
    </p>
  </div>
  <div class="job">
    <h2>Analista de control de calidad y Automatizador de Tests,</h2>
    <h3>ASEINFO Guatemala</h3>
    <p class="duration">2023-Presente</p>
    <p>
      Automatización de pruebas para aplicaciones web. Tecnologías utilizadas:
      Java, Selenium, xml
    </p>
  </div>
  <!-- Añadir más trabajos aquí -->
</div>
